.ticket {
  width: 18rem;
  border: 1px;
  border: linear;
  border-radius: 12px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ticketBorderWrapper {
  position: relative;
  background: linear-gradient(to right, #c084fc, rgb(219 39 119), #f97316);
  padding: 1px;
  border-radius: 12px;
  -webkit-box-shadow: -5px 13px 58px 0px rgba(192, 132, 252, 0.49);
  -moz-box-shadow: -5px 13px 58px 0px rgba(192, 132, 252, 0.49);
  box-shadow: -5px 13px 58px 0px rgba(192, 132, 252, 0.49);
}

.username {
  color: #fff;
}

.shareButton {
  -webkit-box-shadow: -5px 13px 58px 0px rgba(192, 132, 252, 0.49);
  -moz-box-shadow: -5px 13px 58px 0px rgba(192, 132, 252, 0.49);
  box-shadow: -5px 13px 58px 0px rgba(192, 132, 252, 0.49);
}
